.logo {
    // background-image: url("https://st4.depositphotos.com/29294794/39117/v/450/depositphotos_391170190-stock-illustration-business-corporate-abstract-unity-vector.jpg");
    background-image: url('/storage/app/public/logotipo/logoTalentSphereFinal.svg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
